<div style="height: 100px; width: 70%"></div>

<table class="main-table">
  <thead>
  <td class="table-cell">
    <img [src]="'assets/imgs/arrow-right (1).png'" class="arrow-image" (click)="openIndex()">
  </td>
  <td class="table-cell">
    <h2 class="table-title">Event History</h2>
  </td>
  <td class="table-cell">
    <img [src]="'assets/imgs/arrow-right.png'" class="arrow-image" (click)="openIndex()">
  </td>
  </thead>
</table>


<hr style="width: 70%">
<all-packages-past-table></all-packages-past-table>


