<table class="table-container">
  <thead class="form-container">
  <!-- Заголовки столбцов -->
  <td class="table-cell">Name</td>
  <td class="table-cell">Category</td>
  <td class="table-cell">Start time</td>
  <td class="table-cell">End time</td>
  <td class="table-cell">Author</td>
  </thead>
  <tbody>
  <tr class="list-container">
    <td class="table-cell">{{event.name}}</td>
    <td class="table-cell">{{event.category}}</td>
    <td class="table-cell">{{event.start}}</td>
    <td class="table-cell">{{event.finish}}</td>
    <td class="table-cell">{{event.author}}</td>
  </tr>
  </tbody>
</table>

